<label class="{{ $ctrl.classes.label }}">
    <span class="{{ $ctrl.classes.title }}"
          data-title="{{ ::$ctrl.title }}">
        {{ ::$ctrl.title }}
    </span>

    <textarea class="{{ $ctrl.classes.input }}"
              placeholder="{{ ::$ctrl.placeholder }}"
              maxlength="{{ $ctrl.maxlength }}"
              ng-model="$ctrl.model" 
              ng-disabled="$ctrl.disabled"
              ng-click="$ctrl.click()"
              ng-focus="$ctrl.focus()"
              ng-blur="$ctrl.blur()"
              ng-keypress="$ctrl.keypress()"
              ng-keydown="$ctrl.keydown()"
              ng-keyup="$ctrl.keyup()"
              ng-mouseover="$ctrl.mouseover()">
    </textarea>
</label>
